@{
    ViewData["Title"] = "Home Page";
}

<h2>ASP.NET Core Model Binding Demo Project</h2>

<p>In ASP.NET Core, <strong>Model Binding</strong> is the act of taking inputs from an HTTP request and mapping them to action method parameters. </p>